# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-data

# Files from Forge MDK
forge*changelog.txt
/run-data/
/Catnip-Forge-1.20.1-0.8.44-sources/
